<div id='about' class='popupContent centered'>

<div >
<h3>HopAroundHuntsville.com</h3><br/>
<br/>
A <span class='link' data='http://www.codeforhuntsville.org/'><b>Code for Huntsville</b></span> project</br>
<br/>
<span class='link' data='http://www.codeforhuntsville.org/'><b>Code for Huntsville</b></span> and <b>Code for Greenville</b>
are network Brigades of
<span class='link' data='http://www.codeforamerica.org/brigade/'><b>Code for America</b></span><br><i>helping to build a 21st Century Government</i>.
</div>
<div id='credit' >
  <h3>Code for Huntsville Team:</h3>
    <div class='left'><b>Developers</b>
      <br/><span class='link' data='http://www.planning.org/profile/glarrymason'><b>Larry Mason</b></span>
      <br/><span class='link' data='http://www.noahsarc.tech'><b>Noah Huber-Feely</b></span>
    </div>
	<br/>
    <div class='left'><b>Graphic Logo</b>
      <br/>Mia Robinson
      <br/>Rita Burkholder
	  <br/>
    </div>
  <div id='cohTxt'>
    <h3>Special Thanks:</h3>	
	  For participation and collaboration in this effort.
	</div>
    <div id='cohImg' class='cityLogo link' data='http://www.huntsvilleal.gov/publictran/public_trans.php/'>
      <img src='/images/sponsorLogos/cityLogo.png' width='100' height='60'/>
    </div>
  </div>
  <p/>
  <div id='support' >
    For Comments, Questions or Support email
	<a href="mailto:contact@hoparoundhuntsville.com"><b>contact@HopAroundHuntsville.com</b></a>
  </div>
</div>
