<div id='about' class='popupContent'>

<div class='centered'>
<h3>HopAroundHuntsville.com</h3><br>
A <b>Code for Huntsville</b> project<br>

<b>Code for Huntsville</b> and <b>Code for Greenville</b>
are network Brigades of
<b>Code for America</b><br><i>helping to build a 21st Century Government</i>.
</div>
<div id='credit'>
  <h3>Code for Huntsville Team:</h3>
    <ul>Full Stack Developers
      <li>Larry Mason</li>
      <li>Noah Huber-Feely</li>
    </ul>
    <ul>Graphic Logo
      <li>Mia Robinson</li>
      <li>Rita Burkholder</li>
    </ul>

  <h3>Code for Huntsville City Partners:</h3>
    <ul>
	  <li>Lisa Vaughan - Information Technology Services</li>
      <li>Paige Colburn - Planning and MPO

      <li>Randy Griffith - Parking and Transit Services</li>
      <li>Dana Keener - Mapping and GIS</li>
  </div>
  <p/>
  <div id='support' class='centered'>
    For Comments, Questions or Support email
	<a href="mailto:contact@hoparoundhuntsville.com"><b>contact@HopAroundHuntsville.com</b></a>
  </div>
</div>