<div id='about' class='popupContent centered'>

<div >
<h3>HopAroundHuntsville.com</h3><br/>
<br/>
A <b>Code for Huntsville</b> project</br>
<br/>
<b>Code for Huntsville</b> and <b>Code for Greenville</b>
are network Brigades of
<b>Code for America</b><br><i>helping to build a 21st Century Government</i>.
</div>
<div id='credit' >
  <h3>Code for Huntsville Team:</h3>
    <div class='left'><b>Developers</b>
      <br/>Larry Mason
      <br/>Noah Huber-Feely
    </div>
	<br/>
    <div class='left'><b>Graphic Logo</b>
      <br/>Mia Robinson
      <br/>Rita Burkholder
	  <br/>
    </div>
  <div id='cohTxt'>
    <h3>Special Thanks:</h3>	
	  For participation and collaboration in this effort.
	</div>
    <div id='cohImg' class='cityLogo'>
      <img src='/images/sponsorLogos/cityLogo.png' width='100' height='60'/>
    </div>
  </div>
  <p/>
  <div id='support' >
    For Comments, Questions or Support email
	<a href="mailto:contact@hoparoundhuntsville.com"><b>contact@HopAroundHuntsville.com</b></a>
  </div>
</div>