<div id='menuPanel' class='panel'>
  <div id='scheduleItem' class='menuItem'>Schedule</div>
  <div id='sponsorsItem' class='menuItem'>Sponsors</div>
  <div id='aboutItem' class='menuItem'>About</div>
</div>