<div id='noavail' class='popupContent centered'>
  <div class='vertCenter centered'>
    <div id='pubody'>
      <h2>The Trolley is not currently operating</h2>
      <p/>
      <b>Normal hours of operation:</b>
	  <p/>Friday - Saturday
	  <p/>5:00pm - Midnight;
    </div>
  </div>
</div>