<div id='sponsors' class='popupContent'>
  <h2>Thanks to our sponsors for their generous support!</h2>
  <p/>
  <div id='logoContainer'>
    <div id='figleaf' class='sponsorLogo link' data='http://www.figleafcostumes.com/'>
      <img src='/images/sponsorLogos/figleaf.png'/>
    </div>
 
    <div id='rainspace' class='sponsorLogo link' data='http://www.rainspace.com/'>
      <img src='/images/sponsorLogos/rainspace.png'/>
    </div>
	<div id='xplorehsv' class='sponsorLogo link' data='http://www.xplorehsv.net/'>
      <img src='/images/sponsorLogos/xploreHSVlogo(2).png'/>
    </div>
  </div>
  <p/>
  The team has an ambitious long range plan (we will be publishing our <b>road map</b> soon) that we hope will make riding the bus more attractive to more citizens. Come be a part of the <b>HopAroundHuntsville.com</b> collaboration and community. 
  <p/>
  If you are interested in transit and multi-modal transportation issues and wish to see more work done to enhance our alternative transportation infrastructure contact:
  <div class='centered'> 
    <a href="mailto:larry.mason@code4huntsville.org"><b>Larry Mason @ Code for Huntsville</b></a>
  </div>
  <p/>
  <div class='sponsorText' >
  <span class='link' data='http://www.codeforhuntsville.org/'><b>Code for Huntsville</b></span> is organized entirely by volunteers. We try to provide space and food for volunteers to come and help build community at special events and work nights. 
  <p/>
  If you wish to contribute to the <span class='link' data='http://www.codeforhuntsville.org/'><b>Code for Huntsville</b></span> efforts to <b><i>"help build a 21st Century Government"</i></b> go to our
  <span class='link' data='http://www.codeforhuntsville.org/'>web site</span> and see all the ways you can contribute
  </div>
</div>