<div id='sponsors' class='popupContent'>
<h2>Thanks to our sponsors for their generous support!</h2>
<p/>
<div id='logoContainer'>
  <div id='figleaf' class='sponsorLogo'>
    <img src='/images/sponsorLogos/figleaf.png'/>
  </div>
 
  <div id='rainspace' class='sponsorLogo'>
    <img src='/images/sponsorLogos/rainspace.png'/>
  </div>
</div>

<div class='sponsorText'>
<b>Code for Huntsville</b> is organized entirely by volunteers. Each year, we rely on donations (large and small) to provide space and food for volunteers to come and help build community. 
<p/>
If you wish to contribute to the <b>Code for Huntsville</b> efforts to help build a 21st Century Government 

<a href='https://secure.codeforamerica.org/page/contribute/default?source_codes=nav-donate-button'><b>donate</b></a>

 here and mention <b>Code for Huntsville</b> in the field <i>“What inspired your contribution?”</i> to make sure the donation gets to us. 
<p/>
To maintain the long term sustainability of the HopAroundHuntsville.com we will need local sponsors to help with the minimal costs assoiciated with cloud, network and internet services needed to provide the transit tracking service. The team has an ambitious long range plan (we will be publishing our <b>road map</b> soon) that we hope will make riding the bus more attractive to more citizens.
<p/>
If you are interested in transit and multi-modal transportation issues and wish to see more work done to enhance our alternative transportation infrastructure contact:<br>
</div>
<div class='centered'> 
  <a href="mailto:larry.mason@code4huntsville.org"><b>Larry Mason @ Code for Huntsville</b></a>
</div>


</div>