<div id='terms' class='popupContent'>

  <h3>Terms of Use</h3><br/>
  <div class='disclaimer'>
    This site is a <span class='link' data='http://www.codeforhuntsville.org/'><b>Code for Huntsville</b></span> initiative using public data from the <span class='link' data='http://www.huntsvilleal.gov/publictran/public_trans.php/'><b>City of Huntsville</b></span>.  You 
    acknowledge and agree that the information on this site regarding <span class='link' data='http://www.huntsvilleal.gov/publictran/public_trans.php/'><b>City of Huntsville</b></span> public 
    transit routes and schedules is provided for general planning purposes only; and you 
    acknowledge and agree that weather conditions, construction projects, closures, or other events 
    or circumstances may cause schedules or other information to differ from what is presented 
    through this Site. You agree to exercise all reasonable judgment and take all appropriate steps in 
    relation to your use of any such information or participation in any such programs. The <span class='link' data='http://www.huntsvilleal.gov/publictran/public_trans.php/'><b>City of Huntsville</b></span> is neither responsible nor liable for your use of any information contained on this site.
  </div>
</div>

