*,
*:before,
*:after {
	box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	margin: 0px;
	margin-bottom: 0px;
}
.row:last-child {
	margin-bottom: 0;
}
/*
[class*="col-"] {
	padding: 10px;
}
*/

@media all and ( min-width: 600px ) {
	.col-1-3 {
		float: left;
		width: 33.33%;
	}
	.col-2-3 {
		float: left;
		width: 66.66%;
	}
	.col-1-2 {
		float: left;
		width: 50%;
	}
	.col-9-10 {
		float: left;
		width: 90%;
	}
	.col-1-10 {
		float: left;
		width: 10%;
	}
	.col-4-5 {
		float: left;
		width: 80%;
	}
	.col-1-5 {
		float: left;
		width: 20%;
	}
}
.col-1-3-a {
	float: left;
	width: 33.33%;
}
.col-1-2-a {
	float: left;
	width: 50%;
}
.col-9-10-a {
	float: left;
	width: 90%;
}
.col-1-10-a {
	float: left;
	width: 10%;
}
.col-4-5-a {
	float: left;
	width: 80%;
}
.col-1-5-a {
	float: left;
	width: 20%;
}
