html {
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
}

body {
  height: 100%; 
  width: 100%;
  font-size: 75%;
  font-family: Sniglet;
  line-height: 1.88889;
  color: #555; 
  background: #eee;	
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

p { 
  margin-top: 5px; 
}

h1 {
	margin-bottom: -30px;
}

h3 { 
  margin-bottom: -15px; 
}

a:link {  
  text-decoration: none; 
  color: #000;
}

a:visited {  
  text-decoration: none; 
  color: #000;
}

a:hover, a:active { 
  text-decoration: underline; 
  color: #000;
}

#content {
    position: fixed;
    bottom: 0;
    width: 100%;
	z-index: 1100;
}

#contentHead {
  background: #eee;
  margin-left: 15%;
}

#contentHead h1 {
	margin-bottom: 0;
}

#headerText {
  display: inline-block;
  text-align: center;
  position: relative;
  top: -13px;
}

#contentBody {	
  /*height: 100px;*/
  /*width: 100%;*/ 
  background: #555;  
}

#disPage {
  width: 100%;
  color: #fff;
  background: #d9201b;
  text-align: center;
}

#disPage:hover {
	cursor: pointer;
}

.disclaimer {
	margin: 25px;
}

#schedule {
	color: #fff;
	line-height: 1.9;
}

#schedule:hover {
  cursor: pointer;
}

.stopActive {
  background: #555;
  color: #fff;	
}

#noavail {
	margin-top: 25%;
}

#container {
  height: 75%;
  width: 100%; 
  color: #000;  
  background: #fff;
  float: right;
}

#logo img  {
	max-width: 100%;
	max-height: 100%;
}

#logo {
  width: 81px;
  height: 81px;
  display: inline-block;
  z-index: 100;
}

#menu {
  margin: 5px;
  display: inline-block;
  float: right;
}

#menuIcon {
	display: none;
}

#transitMap { 
  width: 100%;
  height: 100%;
  float: right;
}

#slideMenu {
  display: none;	
}

#menuPanel {
  width: 100%;
}

.panel {
  background-color: #eee;
}

.menuItem {
  margin-right: 15px;
  padding: 5px;
  color: #444;
  display: inline-block;  
}

.menuItem:hover {
  color: #fff;
  background: #888;
  cursor: pointer;
}

#menuPopup {
	width: 80%;
	height: 80%;
	margin: 0 10% 15%;
	position: fixed;
	top: 50px;
	background: rgba(238,238,238,.9);
	display: none;
	line-height: 1.4;
	overflow-y: auto;
}

#menuPopup img {
	float: right;
}

#menuPopup:hover img {
	cursor: pointer;
	
}

.popupContent {
	margin-left: 5%;
}

.centered {
  text-align: center;
}

#about {
	display: none;
}

#credit ul {
	margin-left: -5px;
	font-weight: bold;
}

#credit ul li {
	margin-left: 15px;
	font-weight: normal;
}

#sponsors {
	display: none;
}

#logoContainer {
	float: left;
	width: 100%;
	height: 80px;
}

.sponsorLogo {
	width: 32%;
	text-align: center;
	/*position: relative;*/
	display: inline-block;
}

#support {
	position: relative;
    bottom: -10px;
}

#cohImg {
	height: 60px;
    width: 100px;
	display: inline-block;
}

#cohTxt {
	height: 60px;
    width: 100px;
	display: inline-block;
}

#credit h3 {
	margin-bottom: 0;
}

.cityLogo {
	float: none;
    /*position: relative;
    top: 15px;*/
}

/*#rainspace {
	float: right;
    top: -68px;
}*/

#menuPopup .sponsorLogo img {
	float: none;
	width: 64px;
	height: 64px;
}

.aStop:hover {
	cursor: pointer;
}

.link:hover {
	cursor: pointer;
}

@media all and (max-width: 650px) {
	#contentHead {
		margin-left: 3%;
	}
	
	#contentHead #menu #menuPanel {
		display: none;
	}
	
	#headerText {
      font-size: 80%;
	  line-height: 2.2;
	}
	
	#logo {
	  width: 65px;
      height: 65px;
	}
	
	#slideMenu {
      display: block;
	  width: 120px;
      height: 80px;
      background-color: rgba(238,238,238,.3);
      position: fixed;
      right: -80px;
      top: 0;
      z-index: 0;
    }
    
    #menuIcon {
		display: block;
		float: left;
		background-color: rgba(238,238,238,0);
		margin: 10px;
	}
		
	#menuIcon:hover {
		cursor: pointer;
	}
	
	.menuItem {
        color: #444;
		background-color: #ccc;
        display: block;
        float: right;
        margin-right: 3px;
        margin-bottom: 1px;
        width: 70px;
        text-align: center;		
	}

    .popupContent {
	    margin: 3%;
    }
#menuPopup .sponsorLogo img {
	float: none;
	width: 60px;
	height: 60px;
}	
}
	
/*
@media all and (min-width: 500px) {
	#container {
		width: 300px;
	}
}
@media all and (min-width: 750px) {
	#container {
		width: 550px;
	}
}
@media all and (min-width: 1000px) {
	#container {
		width: 700px;
	}
}
@media all and (min-width: 1250px) {
	#container {
		width: 900px;
	}
}
@media all and (min-width: 1500px) {
	#container {
		width: 1200px;
	}
}
*/


/*
h1 {
	font-family: Sniglet;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: Sniglet;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: Sniglet;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: Sniglet;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: Sniglet;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}
*/
