<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/_header.ejs %>
    <!--script type="text/javascript">
      google.maps.event.addDomListener(window, 'load', initializeMap);
    </script-->
  </head>
  <body>
    <div id='container'>
      <div id="transitMap"></div>
		</div>
		<div id='info'>
			<h1>Hsv Trolley</h1>
			<p>Ever wondered where the Huntsville trolley is? You can view it's exact location on the map at the right.</p>
			<p>In future updates you'll get a reminder to head to the stop when the trolley is nearing you. Stay tuned!</p>
		</div>
    <script>
	  HSV_TT.map.init();
      HSV_TT.sockets.init();
	</script>
 	<% include ../partials/_footer.ejs %>
  </body>
</html>
