<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initMap() {
  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('transitMap'), {
    center: {lat: -34.397, lng: 150.644},
    scrollwheel: false,
    zoom: 8
  });
}
</script>
</head>
<body onload="initMap()">
<h1>Maps API!</h1>
<div id='transitMap' style='width: 80%; height: 80%;'></div>
<script type='text/javascript'>
socket.on('location update', function(data) {
	xcorr = data[0];
	ycorr = data[1];
});
socket.emit('get location'
</script>
</body>
</html>
