<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
function initialize() {
	var mapProp = {
		center: new google.maps.LatLng(51.508742, -0.120850),
		zoom: 5,
		mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var map = new google.maps.Map(document.getElementById('transitMap', mapProp);
	var busMarker = new google.maps.Marker({
		position: myCenter,
	});
	marker.setMap(map)	
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
<body>
<h1>Maps API!</h1>
<div id='transitMap' style='width: 80%; height: 80%;'></div>
<script type='text/javascript'>
socket.on('location update', function(data) {
	xcorr = data[0];
	ycorr = data[1];
});
socket.emit('get location'
</script>
</body>
</html>
