<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/_header.ejs %>
	
    <!--script type="text/javascript">
      google.maps.event.addDomListener(window, 'load', initializeMap);
    </script-->
  </head>
  <body>
    <div id='container'>
      <div id="transitMap"></div>
	</div>
    <script>
	  HSV_TT.map.init();
      HSV_TT.sockets.init();
	</script>
 	<% include ../partials/_footer.ejs %>
  </body>
</html>
